build/
.cache/

vendor/p4api/*
!vendor/p4api/CMakeLists.txt

CMakeUserPresets.json

compile_commands.json

.vscode/*
!.vscode/launch.json
!.vscode/tasks.json

.p4tickets
.p4config

docs/p4/commands/*
